.logo {
  width: 92px;
  height: 26px;
  margin-left: 40px;
  margin-top: 18px;
  cursor: pointer;
}
.user-container {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../../assets/banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
header {
  height: 60px;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
}
.movie-title{
    margin-top: 135px;
    height: 232px;
    width: 546px;
    margin-bottom: 0;
}
nav {
  display: block;
  width: 75%;
}
ul li {
  display: inline-block;
  color: white;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 14px;
}
ul li:hover {
  opacity: 0.7;
  transition: 0.5s all;
}
.action-items{
    display: flex;
    align-items: center;
}
.user-banner-text{
    color: white;
    position: relative;
    top: 10px;
    left: 75px;
}
.user-banner-text h3{
    margin-top: 20px;
    width: 546px;
}
.user-buttons{
    border: none;
    background-color: white;
    margin-left: 20px;
    color: black;
    border-radius: 5px;
    width: 126px;
    height: 46px;
    font-weight: 700;
    cursor: pointer;

    margin-left: 75px;
    font-size: 18px;
}
.invert{
    background-color: gray;
    margin-left: 20px;
}
.button-text{
    vertical-align: super;
}